body{
  background:  #435969;
}

#content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #435969;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;  
}

#header { 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center; 
  padding: 50px; 
  margin: 50px 50px 20px 50px;
  background: #e7f0ed  
}

p{
font-size: 1.0em;
}

#buttonline{
  flex-direction: row;
}

button {
  outline: none;
  border: 5px solid #e7f0ed;
  padding: 10px 10px;
  margin: 10px;
  font-size: 1.5em;
  color: #435969;
  font-weight: bold;
  background: #feca00;
  transition: all 0.2s ease-in-out;
}
button:hover {
  cursor: pointer;
  background: #f87f00;
  color: white;
}

.para {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center; 
  padding: 50px; 
  margin-top: 0;
  margin: 0px 50px 50px 50px;
  background: #e7f0ed  
}

#comments{
  width: 100%;
}

li{
  display: flex;
  justify-content: space-between;
  align-content: baseline;
}

input[type=submit] {
  outline: none;
  border: 5px solid #e7f0ed;
  padding: 10px 10px;
  font-size: 1.5em;
  color: #435969;
  font-weight: bold;
  background: #feca00;
  transition: all 0.2s ease-in-out;
}
input[type=submit]:hover {
  cursor: pointer;
  background: #f87f00;
  color: white;
}

.delete{
  margin: 0;
  padding: 5px 8px;
  border: 0;
  color: #e7f0ed;
  text-align: center;
  font-size: 0.7em; 
  background: #435969;
}