#content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #435969;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;  
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center; 
  padding: 50px; 
  margin: 50px;
  background: #e7f0ed  
}

p{
font-size: 1.0em;
}

#buttonline{
  flex-direction: row;
}

button {
  outline: none;
  border: 5px solid #e7f0ed;
  padding: 10px 10px;
  font-size: 1.5em;
  color: #435969;
  font-weight: bold;
  background: #feca00;
  transition: all 0.2s ease-in-out;
}
button:hover {
  cursor: pointer;
  background: #f87f00;
  color: white;
}
