body {
  background: #435969;
}

#main {
  margin: auto;
  max-width: 1500px;
  font-family: Arial, Helvetica, sans-serif;
  color: #435969;
  align-items: center;
  justify-content: center;
  min-width: 800px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  margin: 50px 50px 20px 50px;
  background: #e7f0ed;
}

p {
  font-size: 1em;
  text-align: justify;
}

.buttonline {
  text-align: center;
  flex-direction: row;
}

button {
  outline: none;
  border: 5px solid #e7f0ed;
  padding: 10px 10px;
  margin: 10px;
  font-size: 1.5em;
  color: #435969;
  font-weight: bold;
  background: #feca00;
  transition: all 0.2s ease-in-out;
}
button:hover {
  cursor: pointer;
  background: #f87f00;
  color: white;
}

.para {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 50px;
  margin-top: 0;
  margin: 0px 50px 50px 50px;
  background: #e7f0ed;
}

#about {
  align-items: baseline;
}

#map {
  border: 10px solid #feca00;
  height: 600px;
  width: 600px;
}

#chartContainer {
  border: 10px solid #feca00;
}

#comments {
  width: 100%;
}

li {
  display: flex;
  justify-content: space-between;
  align-content: baseline;
  background-color: #B8D4D6;
  padding: 20px;
  margin: 10px;
}

input[type='submit'] {
  outline: none;
  border: 5px solid #e7f0ed;
  padding: 10px 10px;
  font-size: 1.5em;
  color: #435969;
  font-weight: bold;
  background: #feca00;
  transition: all 0.2s ease-in-out;
}
input[type='submit']:hover {
  cursor: pointer;
  background: #f87f00;
  color: white;
}

.delete {
    margin: 0;
    padding: 5px 8px;
    border: 0;
    color: #e7f0ed;
    text-align: center;
    font-size: 0.7em;
    background: #435969;
}

#delete {
  background-color: transparent;
  font-size: medium;
}
#delete:hover{
  color: #f87f00;
}

#numCom {
    flex-direction: row;
}

.fa {
  font: normal normal normal 30px/1 FontAwesome;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  width: 30px;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}


.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}


.fa-github {
  background:#2c4762;
  color: white;
}